/.idea
/node_modules
/public/hot
/public/js
/public/css
/public/storage
/public/service-worker.js
/public/workbox-*.js
/storage/*.key
/vendor
.env
.env.dev
.env.stg
.env.prod
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
